/* General */
html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400!important;
  background-color: #ededed!important;
  color: #212529!important;
}
.page-content {
  width: 80%;
  margin: 0 10% 0 10%;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}
.section {
  padding: 2.5rem 0 2.5rem 0;
  text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ededed; 
}
::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

/* Font */
.title {
  padding: 0 0 .5rem 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.text-link {
  color: #212529;
  border-bottom: 1px dotted #212529;
  text-decoration: none;
}
.text-link:hover {
  transition: all .1s ease-in-out;
  text-decoration: none;
  border-bottom: 1px dotted #007BFF;
  color: #007BFF;
}

/* Navbar */
.nav-bg {
  width: 80%;
  margin: 0 10% 0 10%;
  background-color: #007BFF!important;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.15);
}
.navbar #brand-icon {
  margin: .45rem .25rem 0 0;
}
.navbar .navbar-brand {
  padding-left: 3%;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  font-size: 175%;
  color: #fff!important;
}
.navbar .navbar-nav {
  margin-right: 3%!important;
}
.navbar .nav-item {
  margin-right: .75rem;
}
.navbar-toggler {
  border: none!important;
}
.navbar-toggler:focus {
  outline: none;
}
.menu-btn {
  z-index: 2;
  margin: .1rem 0 0 0;
  transition: all .3s ease-out;
}
.btn-line {
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #fff;
  transition: all .3s ease-out;
}
.nav-link {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 110%!important;
  font-weight: 400;
  color: rgba(255, 255, 255, .8)!important;
}
.nav-link.current {
  font-weight: 500!important;
  color: #fff!important;
}
  /* For active Menu */
  .menu-btn.active .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); 
  }
  .menu-btn.active .btn-line:nth-child(2) {
    opacity: 0; 
  }
  .menu-btn.active .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px); 
  }  

/* Footer */
.footer .top {
  text-align: center;
  background-color: rgba(0, 123, 255, .9);
}
.footer .top .text {
  padding: 0!important;
}
.footer .bottom {
  text-align: center;
  padding: 1.5rem 0 .15rem 0;
  background-color: rgba(0, 123, 255, 1);
}
.footer .bottom .text {
  font-weight: 500!important;
  color: #fff;
}
.footer .bottom .text-link:hover {
  color: #212529!important;
}